@media screen and (max-width: 600px) {
	body {
		.container {
			width: 425px;
			margin: 0 auto;
			height: 100%;
			font-family: 'Source Sans Pro', sans-serif;
			position: relative;
		}
		.input {
			width: 90%;
			margin: 0 auto;
			position: relative;
			margin-top: 15px;
			.login-form {
				background-color: #C38695;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 20px;
				outline: none;
				border: none;
				width: 93%;
				border-radius: 5px;
				font-weight: 400;
				padding: 14px;
				color: white;
				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					color:    #FFF;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color:    #FFF;
					opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
					color:    #FFF;
					opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color:    #FFF;
				}
				&::-ms-input-placeholder { /* Microsoft Edge */
					color:    #FFF;
				}
			}
		}
		
		.button {
			
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 20px;
			text-decoration: none;
			&.white {
				color: #991253;
				.button-container {
					background-color: #FFF;
				}
			}
			&.purple {
				color: #FFF;
				.button-container {
					background-color: #C38695;
					margin-top: 15px;
				}
			}
			
			.button-container {
				border-radius: 5px;
				font-weight: 400;
				padding: 14px;
				width: 356px;
				margin: 0 auto;
				position: relative;
				margin-top: 25px;
				text-align: center;


			}
		}
		
		
	}
}