html {
	font-size: 10px;
	height: 100%;
	min-height: 100%;
}

/*LANDING*/
.bgLanding {
	width: 100%;
	height: 100%;
	min-width: 800px;
	min-height: 600px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -50%;
	background-image: url('../../images/landingDeco.png');
	background-size: cover;
}
.waitingLanding {
	width: 467px;
	height: 416px;
	position: absolute;
	margin-left: -233px;
	left: 50%;
	top: 50%;
	background-image: url('../../images/landingBG_message.png');
	background-size: cover;
	padding-top: 30px;
	font-size: 18px;
	font-weight: 600;
	color: #04390c;
	font-family: 'Kreon';
	margin-top: -210px;

	.network {
		margin-top: 8px;
		a {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
}

@media screen and (max-width: 600px) {
	.bgLanding {
		min-width: 320px;
		min-height: 480px;
		background-image: url('../../images/landingDeco_mobile.png');
		background-size: cover;
	}
}


body#homepage {
	font-size: 1rem;
	height: 100%;
	min-height: 100%;
	.clearfix {
		clear: both;
	}

	#menu {
		display: none;
	}
	.main-container {
		width: 5270px;
		height: 100vh;
		position: relative;
	}
	.velo {
		position: absolute;
		bottom: 50px;
		z-index: 5;
		width: 5000px;
		height: 216px;
		
		img {
			position: relative;
			bottom: 582px;
			right: 80px;
		}
	}
	.st0{fill:none;stroke:#61B22F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1,5;}
	.parallax {
		position: absolute;
	}
	h2 {
		font-family: 'Amatic SC', cursive;
		font-size: 5rem;
		font-weight: 700;

		margin: 0;
		position: relative;
		&:before {
			content: url('../../images/h2.png');
			position: absolute;
			left: -20px;
			top: -15px;
		}
	}
	h3 {
		color: #1d4d3e;
		font-family: 'Amatic SC', cursive;
		font-size: 4.7rem;
		font-weight: 700;
		line-height: 40px;

		margin: 0;
		position: relative;
		margin-left: 35px;
		margin-top: 33px;
		&:after {
			content: url('../../images/dots-h3.png');
			position: absolute;
			bottom: -25px;
			left: 0;
		}
	}

	h4 {
		color: #d9ac8f;
		font-family: 'Amatic SC', cursive;
		font-size: 2.4rem;
		font-weight: 700;
		margin-bottom: 0;
	}

	a.button {
		padding: 7px 14px;
		border-radius: 20px;
		border: 2px solid #ff8a00;
		position: relative;
		top: 10px;
		color: #ff8a00;
		font-size: 1.2rem;
		font-family: 'Kreon';
		font-weight: bold;
		text-decoration: none;
		z-index: 1;

		background:transparent;
		overflow: hidden;
		transition: all .2s linear;
		display: inline-block;

		&:hover {
			color:#FFF !important;
			background-color:transparent;
		}
		&:hover:before {
			left: -10px;
			right:auto;
			width:110%;
		}

		&:before {
			color:#000;
			content: "";
			position: absolute;
			display: block;
			right:0;
			top: -25px;
			background: #FF8A00;
			height: 300%;
			width: 0%;
			transform: skew(-15deg);
			z-index: -1;
			transition: all .2s linear;
		}

		&.white {
			&:after {
				content: url('../../images/arrow-white.png');
				display: inline-block;
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
		}

		&.orange {
			&:after {
				content: url('../../images/arrow-orange.png');
				display: inline-block;
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
			&:before{
				background:#ff8a00;
			}
			&:hover:after{
				content:url('../../images/arrow-white2.png');
			}
		}
		&.purple {
			&:after {
				content: url('../../images/arrow-purple.png');
				display: inline-block;
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
			&:hover:after{
				content:url('../../images/arrow-white2.png');
			}
		}
		&.green {
			&:after {
				content: url('../../images/arrow-green.png');
				display: inline-block;
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
			&:before{
				background:#204036;
			}
			&:hover:after{
				content:url('../../images/vertical/gamme/arrow-white4.png');
			}
		}
		&.beige {
			&:after {
				content: url('../../images/arrow-beige.png');
				display: inline-block;
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
			&:before{
				background:#d9ac8f;
			}
			&:hover:after{
				content:url('../../images/arrow-white2.png');
			}
		}
		&.red {
			&:after {
				content: url('../../images/arrow-red.png');
				display: inline-block;
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
			&:before{
				background:#e20233;
			}
			&:hover:after{
				content:url('../../images/arrow-white2.png');
			}
		}
		&.marron {
			&:after {
				content: url('../../images/arrow-marron.png');
				display: inline-block;
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
			&:before{
				background:#9b3d23;
			}
			&:hover:after{
				content:url('../../images/arrow-white2.png');
			}
		}
	}

	background-repeat: repeat;
	// overflow-x: hidden;
	overflow-y: hidden;
	position: relative;

	.compo { left: 0; bottom: 0px; }

	header {
		float: left;
		width: 455px;
		height: 100vh;
		position: relative;
		background-image: url('../../images/bg-header.png');
		background-size: cover;
		// .compo1-1 { left: 0px; bottom: 72px; }
		// .compo1-2 { left: 0px; bottom: 5px; }
		// .compo1-3 { left: 0px; bottom: 70px; }

		.logo {
			text-align: center;
			margin: 30px 0;
			opacity: 0.9;
		}
		.main-nav {
			ul {
				padding-left: 85px;
				li {
					list-style: none;
					text-transform: uppercase;
					display: inline-block;

					font-family: 'Amatic SC', cursive;
					font-size: 3.5rem;
					font-weight: 700;

					padding: 5px 0;
					a {
						text-decoration: none;
						color: #1d4d3e;
						&:hover {
						}
					}
					position: relative;
					z-index: 2;
					&:after {
						content: '';
						display: block;
						width: 0;
						height: 25px;
						background-color: #75b55d;
						position: absolute;
						bottom: 10px;
						z-index: -1;
						left: -5%;
						transition: width .3s;
					}
					&:hover {
						&:after {
							content: '';
							display: block;
							width: 110%;
							height: 25px;
							background-color: #75b55d;
							position: absolute;
							bottom: 10px;
							z-index: -1;
						}
					}
				}
			}
		}
		.direction {
			text-align: center;

			font-family: 'Kreon';
			color: #0d8331;

			margin-top: 30px;
		}
	}
	.main-container {
		display: block;
		overflow:hidden;
		overflow-x: auto;
		overflow-y: hidden;
		overflow : -moz-scrollbars-horizontal;
	}
	.a-la-une {
		float: left;
		position: relative;
		width: 800px;
		height: 100vh;
		z-index: 5;

		display: flex;
		align-items: center;
		justify-content: center;

		background-image: url('../../images/a_la_une.png');
		background-size: cover;

		.yaourt { left: -100px; top: 0px; }
		.citron { right: -160px; bottom: 20px; }
		.actu {
			width: 300px;
			height: 294px;

			background-image: url('../../images/a-la-une-content.png');
			background-size: 100%;
			background-repeat: no-repeat;
			.content {
				padding: 50px 30px 20px 50px;

				h2 {
					color: #ff9c00;
					line-height: 4rem;
					&:before {
						content: url('../../images/h2.png');
						position: absolute;
						left: -20px;
						top: -30px;
					}
					&:after {
						content: url('../../images/h2.png');
						position: absolute;
						right: 35px;
						bottom: -30px;
						transform: rotate(180deg);
					}
				}
				p {
					margin-top: 32px;
					margin-bottom: 0;
					font-family: 'Kreon';
					font-weight: 500;
					color: #0d8331;
					font-size: 1.4rem;
				}
			}
		}
	}
	.gammes {
		float: left;
		width: 830px;
		padding-right: 60px;
		height: 100vh;
		position: relative;
		z-index: 1;
		background-image: url('../../images/bg-section.png');
		background-size: cover;

		.mmmm { right: 320px; top: 50px; opacity: 0;}
		.mmmm-arrow { right: 250px; top: 50px; opacity: 0;}
		
		h3 {
			z-index: 3;
			&:before {
				content: url('../../images/h3-before-1.png');
				position: absolute;
				left: -59px;
				top: -33px;
				z-index: 1;
			}
		}
		.gamme {
			z-index: 5;
			h4 {
				font-size: 3rem;
			}
			p {
				margin: 5px 0;
				font-family: 'Kreon';
				font-size: 1.4rem;
				font-weight: 500;
			}
			&.gamme-1 {
				h4 {
					margin-top: 20px;
				}
				margin-top: 1vh;
				z-index: 1;
				width: 452px;
				height: 180px;
				background-image: url('../../images/gamme-original.png');
				float: right;
				position: relative;
				&:before {
					content: url('../../images/paquet-original.png');
					position: absolute;
					left: -100px;
					bottom: -10px;
				}
				.content {
					padding: 0 20px 0 102px;
					p, .button {
						color: #d9ac8f;
						border-color: #d9ac8f;
					}
				}
			}
			&.gamme-2 {
				width: 380px;
				height: 172px;
				background-image: url('../../images/gamme-chocolat.png');
				float: left;
				position: relative;
				left: 40px;
				margin-top: 1vh;
				h4, p, .button {
					color: #9b3d23;
					border-color: #9b3d23;
				}
				h4 {
					margin-top: 0;
				}
				&:after {
					content: url('../../images/paquet-chocolat.png');
					position: absolute;
					right: -100px;
					bottom: -10px;
				}
				.content {
					width: 284px;
					float: left;
					padding: 12px 32px 0 63px;
				}
			}
			&.gamme-3 {
				width: 420px;
				height: 180px;
				background-image: url('../../images/gamme-fruits.png');
				float: right;
				position: relative;
				h4, p, .button {
					color: #e20233;
					border-color: #e20233;
				}
				h4{margin-top: 20px;}
				&:before {
					content: url('../../images/paquet-citron.png');
					position: absolute;
					left: -100px;
					bottom: -6px;
				}
				.content {
					padding: 5px 90px 0 109px;
				}
			}
		}
		.discover-container {
			text-align: center;
			position: relative;
			top: 45px;
			.discover {
				color: #204036;
				border-color: #204036;
			}
		}
	}
	.trio {
		
		z-index: 5;
		float: left;
		width: 800px;
		height: 100vh;
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		background-image: url('../../images/trio.jpg');
		background-size: cover;
		.feuille {
			right: -9px;
			top: 1px;
		}
		.actu {
			width: 280px;
			height: 280px;
			position: relative;

			background-image: url('../../images/a-la-une-content.png');
			background-size: 100%;
			background-repeat: no-repeat;

			.content {
				padding: 30px 40px 20px 40px;

				h2 {
					color: #2f9414;
					line-height: 50px;
					margin-top: 13px;
					text-align: center;
					&:before {
						content: url('../../images/h2.png');
						position: absolute;
						left: 0px;
						top: -25px;
					}
					&:after {
						content: url('../../images/h2.png');
						position: absolute;
						right: 0px;
						bottom: -25px;
						transform: rotate(180deg);
					}
				}
				>div {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 20px;
				}
			}
		}
	}
	.recettes {
		position: relative;
		background-image: url('../../images/bg-section.png');
		background-size: cover;
		float: left;
		width: 800px;
		height: 100vh;
		z-index: 2;
		.cuillere {
			left: -400px;
			bottom: -300px;
			z-index: 2;
		}
		.graines {
			top: 0;
			right: 0;
		}
		.fouet {
			left: -400px;
			bottom: -300px;
			z-index: 2
		}
		h3 {
			padding-right: 619px;
			
			&:before {
				content: url('../../images/h3-before-2.png');
				position: absolute;
				left: -141px;
				top: -32px;
				z-index: 4;
			}
		}
		.recette {
			z-index: 2;
			width: 100%;
			height: 100vh;

			.bg-recette {
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;

			}

			>a {
				text-decoration: none;
			}

			.content {
				width: 370px;
				height: 410px;
				position: relative;
				background-image: url('../../images/recette.png');

				margin: 0 auto;
				img {
					transform: rotate(-5deg);
					position: absolute;
					top: 43px;
					left: 3px;
					right: 0;
					margin: auto;
					width: 245px;
				}
				p {
					color: #204036;
					font-family: 'Amatic SC', cursive;
					font-size: 3rem;
					font-weight: bold;
					text-align: center;
					transform: rotate(-6deg);
					position: absolute;
					bottom: 53px;
					left: 25px;
					right: 0;
					margin: auto;
				}
			}
			.subcontent {
				width: 100%;
				text-align: center;
				position: relative;
				margin-top: 30px;
				p {
					color: #204036;
					font-size: 1.6rem;
					line-height: 2.5rem;
					font-family: 'Kreon';
					font-weight: 500;
					margin-top: 0;
					padding: 0 195px;
				}
				a {
					color: #ff9c00;
					font-family: 'Kreon', sans-serif;
					font-weight: bold;
					font-size: 1.5rem;
					&.button {
						color: #012317;
						border-color: #012317;

					}
				}
			}
		}
	}
	.questions {
		float: left;
		position: relative;
		width: 785px;
		height: 100vh;
		z-index: 5;

		display: flex;
		align-items: center;
		justify-content: center;

		background-image: url('../../images/questions.jpg');
		background-size: cover;

		.question {
			width: 280px;
			height: 280px;

			background-image: url('../../images/a-la-une-content.png');
			background-size: 100%;
			background-repeat: no-repeat;
			position: relative;
			text-align: center;
			.avoine { bottom: -170px; left: -100px; z-index: -1; }
			.ble { top: -105px; right: -50px; z-index: -1; }
			

			.content {
				padding: 30px 30px 20px 50px;

				h2 {
					color: #4ca532;
					line-height: 4.7rem;
					position: relative;
					right: 5px;
					top: 25px;
					&:before {
						content: url('../../images/h2.png');
						position: absolute;
						left: 0px;
						top: -30px;
					}
					&:after {
						content: url('../../images/h2.png');
						position: absolute;
						right: 0px;
						bottom: -30px;
						transform: rotate(180deg);
					}
				}
				.all {
					position: absolute;
					bottom: 50px;
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		}
	}
	.contact {
		background-image: url('../../images/bg-section.png');
		background-size: cover;
		float: left;
		width: 800px;
		height: 100vh;
		position: relative;
		padding: 40px 0 0 90px;
		.yaourt-framboise { right: 0; top: 0;}
		h3 {
			margin: 0;
			margin-bottom: 60px;
			&:before {
				content: url('../../images/h3-before-4.png');
				position: absolute;
				left: -12px;
				top: -30px;

			}
		}
		.button {
			padding: 10px 15px;
			font-family: 'Ubuntu';
			font-weight: bold;
			font-size: 1.5rem;
			color: #dd0020;
			border-color: #dd0020;
		}
		.networks {
			margin-top: 40px;
			span {
				color: #4ca532;
				font-size: 1.7rem;
				font-family: 'Kreon';
			}
			img {
				margin-left: 10px;
				position: relative;
				bottom: 3px;
			}
			.network {
				display: inline-block;
			}
		}
		.instagram-container {
			width: 400px;
			height: 351px;
			background-image: url('../../images/instagram-bg.png');
			margin-top: 20px;
			text-align: center;
			position: relative;
			.instafeed {
				position: relative;
				.thumbnail {
					padding: 5px;
				}
			}
		}
		.compo-responsive {
			display: none;
		}
	}
	footer {
		display: none;
	}
}

@media screen and (max-height: 857px) and (min-height:801px) {
	#homepage {
		.compo {
			transition: bottom 1s;
			bottom: -40px !important;
		}
	}
}
@media screen and (max-height: 800px) and (min-height:750px) {
	#homepage {
		.compo {
			bottom: -100px !important;
		}
	}
}
@media screen and (max-height: 750px) {
	#homepage {
		.compo {
			display: none;
		}
	}
}
@media screen and (max-width: 1624px) {
	#esprit {
		#section3, #section4 {
			.parallax {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 800px) and (max-height: 780px) {
	body#homepage {
		overflow: scroll;
		h3 {
			margin-left: 0;
			text-align: center;
			&:after {
				content: url('../../images/dots-h3.png');
				position: absolute;
				bottom: -25px;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.main-container {
			width: 100%;
			height: auto;
			overflow: scroll;
			nav {
				ul {
					text-align: center;
					margin: 0;
					margin-bottom: 40px;
				}
			}
			#menu {
				display: block;
			}
			.hamb-menu {
				
				position: absolute;
				right: 10px;
				top: 10px;
			}
			header, .sub-container {
				float: none;
				width: 100%;
				height: auto;
			}
			header {
				.logo {

					img {
						width: 250px;

					}
				}
				.direction, .parallax {
					display: none;
				}
				.main-nav {
					display: none;
					ul {
						padding: 0;
						li {
							text-align: center;
						}
					}
				}
			}
			.a-la-une {
				padding: 20px 0;
				.parallax { display: none; }
			}
			.gammes {
				padding: 30px 0;
				.parallax { display: none; }
				.gamme {
					float: none !important;
					margin: auto;
					margin-bottom: 30px;
					&.gamme-1 {
						width: 315px;
						height: 347px;
						margin-top: 50px;
						background-image: url('../../images/responsive/gamme-original.png');
					}
					&.gamme-2 {

						width: 315px;
						height: 331px;
						background-image: url('../../images/responsive/gamme-chocolat.png');
						left: inherit;
					}
					&.gamme-3 {
						width: 315px;
						height: 339px;
						background-image: url('../../images/responsive/gamme-citron.png');
					}
					.content {
						text-align: center;
						float: none;
						width: 100%;
						padding: 0 20px;
						position: absolute;
						bottom: 50px;
					}
					&:before {
						content: '';
					}
					&:after {
						content: '';
					}
				}
				h3:before {
					content: url('../../images/h3-before-1-responsive.png');
					position: absolute;
					left: 0;
					right: 56px;
					margin: auto;
					top: -37px;
					z-index: -1;
				}
			}
			.trio {
				padding: 30px 0;
				margin-left: 0;
				background-image: url('../../images/responsive/trio.png');
			}
			.recettes {

				a.button {
					top: inherit;
					margin: 20px 0;
				}
				.parallax { display: none; }
				h3 {
					padding: 0;
					margin-top: 50px;
					&:before {
						content: url('../../images/h3-before-2.png');
						z-index: -1;
						position: absolute;
						left: 8px;
						right: 0;
						margin: auto;
						top: -30px;
					}
				}
				.recette {
					height: auto;
					padding-bottom: 60px;
					.content {
						bottom: inherit;
						margin-top: 40px;
						width: 320px;
						height: 378px;
						background-image: url('../../images/responsive/recette.png');
						img {
							transform: rotate(-5deg);
							top: 45px;
							width: 218px;
						}
					}
					.subcontent {
						bottom: inherit;
						p {
							padding: 0px 20px;
							margin-top: 20px;
						}
					}
				}
			}
			.questions {
				padding: 35px 0;
				.parallax { display: none; }
				h3 {
					&:before {
						content: url('../../images/h3-before-3.png');
						position: absolute;
						left: 0;
						top: -32px;
						right: 35px;
						z-index: -1;
					}
				}
			}
			.contact {
				padding: 90px 0 0 0px;
				text-align: center;
				.parallax { display: none; }
				h3 {
					&:before {
						content: url('../../images/h3-before-4.png');
						position: absolute;
						left: 79px;
						top: -31px;
						right: 0px;
						margin: auto;
						z-index: -1;
					}
				}
				.networks {
					text-align: center;
					.network { margin-top: 20px; display: block;}
				}
				a.button {
					color: #dd0020;
					border-color: #dd0020;
					&:after {
						content: url('../../images/arrow-red.png');
					}
				}
				.instagram-container {
					width: 305px;
					height: 270px;
					margin: 40px auto 0 auto;
				}
				.compo-responsive {
					display: block;
					height: 355px;
					margin-top: 54px;
					position: relative;
					img { position: absolute; }
					.citron { left: 0; top: 10px; }
					.yaourt { left: 0; right: 0; bottom: 0; margin: auto;}
					.cerise { left: 0; right: 131px; bottom: 61px; margin: auto; }
					.copeau { top: -20px; right: 15vw; z-index: -1; }
					.citron2 { top: 0; right: 14vw; bottom: 20px;  margin: auto;}
					.noix1 { left: 0; right: 30px; margin: auto; top: -40px; z-index: -1; }
					.noix2 { left: -38px; right: 0; margin: auto; bottom: 0; top: -49px; }
					.noix3 { left: 83px; right: 0; bottom: 87px; margin: auto; }
				}
			}
			footer {
				display: block;
				background-color: #fde2c0;
				padding: 0px 0 70px 0;
				text-align: center;
				font-family: 'Unna';
				font-size: 1.6rem;
				ul {
					padding: 30px;
					margin: 0;
					a {
						text-decoration: none;
						color: black;
					}
					li {
						display: inline-block;
						padding: 5px 10px;
					}
				}
				.network {
					display: block;
					margin-top: 10px;
					img {
						padding: 5px;
					}
				}
			}
		}
	}
}

